{erl_opts, [
            warnings_as_errors,
            warn_export_all
           ]
}.
{cover_enabled, true}.
{deps, [
    {lager, "3.9.2"},
    {jsx, "3.1.0"}
]}.
{plugins, [rebar3_hex, rebar3_ex_doc]}.
{relx, [{release, {lager_logtail, "0.1.0"},
         [jsx, lager]},

        {dev_mode, false},
        {include_erts, false},
        
        {extended_start_script, true}]}.
{ex_doc, [
    {source_url, <<"https://github.com/Qualia91/lager_logtail">>},
    {extras, [<<"README.md">>]},
    {main, <<"readme">>}
]}.
{hex, [{doc, ex_doc}]}.