{erl_opts, [
            warnings_as_errors,
            warn_export_all
           ]
}.
{cover_enabled, true}.
{deps, [
    {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", "master"}},
    {jsx,   ".*", {git, "https://github.com/talentdeficit/jsx.git", "main"}}
]}.
{relx, [{release, {lager_logtail_backend, "0.1.0"},
         [jsx, lager]},

        {dev_mode, false},
        {include_erts, false},
        
        {extended_start_script, true}]}.